.Form{
border: solid black;
height: 600px;
width: 600px;
}
#name{
width: 300px;

}
#last_name {
width: 300px;

}
#email{
margin-top: -200px;
width: 300px;
}
#pn{
width: 300px;
}

#add1{
width: 300px;


}
#add2{


}